{{- if and .Values.components.mysql.enabled .Values.mysql.grafana.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: grafana-mysql
  namespace: {{ include "logwise.namespace" . }}
  labels:
    app: grafana-mysql
spec:
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
  selector:
    app: grafana-mysql
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: grafana-mysql
  namespace: {{ include "logwise.namespace" . }}
  labels:
    app: grafana-mysql
spec:
  serviceName: grafana-mysql
  replicas: {{ .Values.mysql.grafana.replicas }}
  selector:
    matchLabels:
      app: grafana-mysql
  template:
    metadata:
      labels:
        app: grafana-mysql
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      volumes:
        - name: data
          {{- if eq .Values.mysql.grafana.storage.type "persistentVolumeClaim" }}
          persistentVolumeClaim:
            claimName: grafana-mysql-data
          {{- else }}
          emptyDir: {}
          {{- end }}
      containers:
        - name: mysql
          image: {{ include "logwise.image" (dict "root" . "repository" .Values.mysql.grafana.image.repository "tag" .Values.mysql.grafana.image.tag) }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          env:
            - name: MYSQL_DATABASE
              value: {{ .Values.mysql.grafana.database | quote }}
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: grafana-db-secret
                  key: username
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: grafana-db-secret
                  key: password
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.mysql.grafana.rootPassword | quote }}
          ports:
            - containerPort: 3306
              name: mysql
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
          resources:
            {{- toYaml .Values.mysql.grafana.resources | nindent 12 }}
{{- end }}
