{{- if and .Values.components.spark.enabled .Values.spark.worker.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: spark-worker
  namespace: {{ include "logwise.namespace" . }}
  labels:
    app: spark-worker
spec:
  clusterIP: None  # Headless service for pod DNS resolution
  selector:
    app: spark-worker
  ports:
    - name: webui
      port: {{ .Values.spark.worker.webuiPort | int }}
      targetPort: {{ .Values.spark.worker.webuiPort | int }}
    - name: rpc
      port: {{ .Values.spark.worker.rpcPort | int }}
      targetPort: {{ .Values.spark.worker.rpcPort | int }}
---
{{- if eq .Values.services.type "NodePort" }}
apiVersion: v1
kind: Service
metadata:
  name: spark-worker-ui
  namespace: {{ include "logwise.namespace" . }}
spec:
  type: NodePort
  selector:
    app: spark-worker
  ports:
    - name: ui
      port: {{ .Values.spark.worker.webuiPort | int }}
      targetPort: {{ .Values.spark.worker.webuiPort | int }}
      {{- if .Values.services.nodePorts.sparkWorker }}
      nodePort: {{ .Values.services.nodePorts.sparkWorker }}
      {{- end }}
---
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: {{ include "logwise.namespace" . }}
  labels:
    app: spark-worker
spec:
  replicas: {{ .Values.spark.worker.replicas }}
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      subdomain: spark-worker
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      initContainers:
        - name: wait-for-spark-master
          image: busybox:1.36
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              echo "Waiting for Spark master at spark-master:7077..."
              until nc -z spark-master 7077; do
                echo "Spark master not ready, sleeping..."
                sleep 3
              done
              echo "Spark master is up."
      containers:
        - name: spark-worker
          image: {{ include "logwise.image" (dict "root" . "repository" .Values.spark.worker.image.repository "tag" .Values.spark.worker.image.tag) }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          env:
            - name: SPARK_MODE
              value: "worker"
            - name: SPARK_WORKER_MEMORY
              value: {{ .Values.spark.worker.memory | quote }}
            - name: SPARK_WORKER_CORES
              value: {{ .Values.spark.worker.cores | quote }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SPARK_LOCAL_HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          command:
            - bash
            - -lc
            - >
              mkdir -p /opt/spark/logs &&
              SPARK_WORKER_OPTS="-Dspark.worker.memory={{ .Values.spark.worker.memory }} -Dspark.shuffle.service.enabled=true -Dspark.worker.hostname=$(hostname -f)"
              /opt/spark/bin/spark-class
              org.apache.spark.deploy.worker.Worker
              spark://spark-master:7077
              --webui-port {{ .Values.spark.worker.webuiPort }}
              --memory {{ .Values.spark.worker.memory }}
              --cores {{ .Values.spark.worker.cores }}
          ports:
            - containerPort: {{ .Values.spark.worker.webuiPort | int }}
              name: webui
            - containerPort: {{ .Values.spark.worker.rpcPort | int }}
              name: rpc
          resources:
            {{- toYaml .Values.spark.worker.resources | nindent 12 }}
{{- end }}
