apiVersion: 1

datasources:
  - name: Athena
    type: grafana-athena-datasource
    uid: asadsadf
    access: proxy
    isDefault: false
    editable: true
    jsonData:
      authType: keys
      defaultRegion: us-east-1
      catalog: AwsDataCatalog
      database: default
      workgroup: primary
    secureJsonData:
      accessKey: ""
      secretKey: ""

