apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: vector-logs
  namespace: logwise
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: vector-logs
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80


